/* main Page */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.vh100 {
    height: 100vh;
}

.h200 {
    height: 200px;
}

.h500 {
    height: 500px;
}

.menu {
    overflow: hidden;
    position: relative;
}

.menu:hover.menu::before {
    top: 0;
    transition: .3s;

}

.feed-left {
    animation: load linear both ;
    animation-timeline: view();
    animation-range: entry 50% cover 30% ;
    position: relative;
}
.feed-right {
    animation: load-1 linear both ;
    animation-timeline: view();
    animation-range: entry 50% cover 50% ;
    position: relative;
}

.menu::before {
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 100%;
    background-color: lightgray;
    color: darkgrey;
    border: 1px solid;
}

.Home {
    margin-top: 60px;
    width: 100%;
    background-color: #ffff;
    background-attachment: fixed;
    background-image: url(https://www.wallpapertip.com/wmimgs/80-802123_fashion-clothing-background-hd.jpg);
    background-position: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.Home .brand-name {
    text-shadow: 0 0 8px lightcoral,
        0 0 10px lightcoral,
        0 0 18px lightcoral;
}


.shop-btn:active {
    background-color: red;
    color: white;
    border-color: red;
}

.Explore-box {
    transition: .4s all ease;
    cursor: pointer;
    border: 2px solid transparent;

}

.Explore-box:hover {
    background-color: #FFD43B;
    border: 2px solid black;
}


/* -----------T-Shirt & Shirt-------- */

.h400 {
    height: 400px;
}

img {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.home-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img-slider {
    background-size: 80%;
    height: 100%;
    width: 50%;
    padding: 20px;
}

@keyframes load {
    0% {
        opacity: 0;
        left: -4%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }
    100% {
        left: 0;
        opacity: 100%;
    }
}
@keyframes load-1 {
    0% {
        opacity: 0;
        right: -4%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }
    100% {
        right: 0;
        opacity: 100%;
    }
}
@keyframes load-in {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
.feed-in{
    animation: load-in linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}
